{{- $categories := .Site.Taxonomies.categories }}
{{- if gt (len $categories) 0 }}
<section class="widget__category lg:pl-3 mb-6">
    <header class=" mb-4">
        <h3 class="capitalize text-header-text font-heading mb-0">Categories</h3>
    </header>
	<ul class="widget__list list-none pl-0">
		{{- range $name, $taxonomy := $categories }}
		{{- with $.Site.GetPage (printf "/categories/%s" $name) }}
		<li class="mb-2">
			<a class="text-header-text-primary" href="{{ .RelPermalink }}" title="{{ .Title }}">{{- .Title }}</a>
			{{- if .Site.Params.sidebar.is_categories_counter }}
			<span class="text-sm text-header-text-primary">({{- $taxonomy.Count }})</span>
			{{- end }}
		</li>
		{{- end }}
		{{- end }}
	</ul>
</section>
{{- end }}