{{ $section := .section }}
{{ $background := $section.background }}
{{ $background_color := $background.background_color | default "white" }}
{{ $background_opacity_pct := $background.background_image_opacity | default 100 }}
{{ $background_opacity := mul $background_opacity_pct 0.01 }}
{{ $background_size := $background.background_image_size | default "cover" }}
{{ $background_repeat := $background.background_image_repeat | default "no-repeat" }}
{{ $background_position := $background.background_position | default "center" }}

<section class="section bg-body py-12 px-3 mb-8 hero{{ if and $section.has_background $background.background_image }} bg-image{{ end }}{{ if and $section.has_background (eq $background_color "blue") }} inverse bg-blue{{ end }}{{ if and $section.has_background (eq $background_color "gray") }} bg-gray{{ end }}{{ if or $section.has_background $section.image }} section--padding{{ end }}">

  {{ if and $section.has_background $background.background_image }}
  <div class="bg-image__image" style="background-image: url('{{ $background.background_image | relURL }}'); opacity: {{ $background_opacity }}; background-size: {{ $background_size }}; background-repeat: {{ $background_repeat }}; background-position: {{ $background_position }};"></div>
  {{ end }}

  <div class="container container--lg">
    <div class="flex flex--middle flex--center flex--col-2{{ if eq $section.align "center" }} align-center{{ end }}{{ if eq $section.align "right" }} align-right{{ end }}">

      {{ if $section.image }}
      <div class="cell section__media{{ if eq $section.image_position "right" }} section__media--right{{ end }}">
        <img src="{{ $section.image | relURL }}" alt="{{ $section.image_alt }}" />
      </div>
      {{ end }}

      <div class="cell section__body">
        {{ if $section.title }}
        <h1 class="section__title">{{ $section.title }}</h1>
        {{ end }}
        {{ if $section.subtitle }}
        <div class="section__copy">
          <p>{{ $section.subtitle }}</p>
        </div>
        {{ end }}
        {{ if $section.actions }}
        <div class="section__actions btn-group">
          {{ $include_dict := dict "actions" $section.actions }}
          {{ partial "section_actions.html" $include_dict }}
        </div>
        {{ end }}
      </div>

    </div>
  </div>

</section>

<div id="hero-section" class="section__hero-section bg-image bg-body py-12 px-3 mb-8" style="background-color: gray;background-image: url('/images/banner.jpg');background-size: cover;background-position: center;">
	<div class="flex items-center justify-center">
		<div class="section__body text-center">
			<h1 class="section__title text-xl lg:text-4xl capitalize">{{ .Title }}</h1> 
            {{ partial "breadcrumb.html" . }} 
        </div>
	</div>
</div>
