{{ $section := .section }}
{{ with $section.slides }}
<div x-ref="splidejs" id="image-slider" class="splide relative group overflow-hidden" x-data="slider()" x-init='splide()'>
    <div class="splide__track">
        <ul class="splide__list">
            {{ range . }}
            <li class="splide__slide relative">
                <div class="relative aspect-w-16 aspect-h-9">
                    {{ $include_dict := dict "image" .image "class" "absolute w-full h-full left-0 top-0" "alt_text" .alt_text "Site" $.Site }}
                    {{ partial "functions/get_image.html" $include_dict }}
                </div>
                <div class="absolute w-full h-full left-0 top-0 flex items-center align-center z-30">
                    <div class="container w-full max-w-screen-xl mx-auto px-6 lg:px-12">
                        <header class="lg:w-1/2 relative">
                            <h2 class="font-semibold text-lg lg:text-3xl bounce-left-3 mb-3">{{ .title | safeHTML }}</h2>
                            <h4 class="text-xs lg:text-base bounce-left-4 mb-4">{{ .subtitle | safeHTML }}</h4>
                            <a class="text-2xs lg:text-lg inline-block text-gray-900 font-semibold uppercase transition duration-300 ease-in-out hover:text-white hover:bg-lightaccent border-2 border-solid border-gray-900 hover:border-lightaccent bounce-left-5 py-1 lg:py-2 px-3"
                                href="{{ .button_link }}" tabindex="-1">{{ .button_text }}</a>
                        </header>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}