{{- define "content" -}}
<main id="site-main" class="site__main-list">
    {{- if .Params.sections }}
    {{- range $section := .Params.sections }}
    {{/* Begin block section styling */}}
    {{- $bg := $section.design.background }}
    {{- $style := "" }}

    {{- if $bg.color }}
    {{- $style = printf "background-color: %s;" ($bg.color | default "transparent") }}
    {{- end }}

    {{- if and $bg.gradient_start $bg.gradient_end }}
    {{- $style = printf "%sbackground-image: linear-gradient(%s, %s);" $style $bg.gradient_start $bg.gradient_end }}
    {{- end }}

    {{- if $bg.image }}
    {{- $style = printf "%sbackground-image: url('%s');" $style (printf "%s" $bg.image | absURL) }}
    {{- with $bg.image_size }}
    {{/* Allow sizes: actual, cover, and contain. */}}
    {{- $style = printf "%sbackground-size: %s;" $style (replace . "actual" "auto") }}
    {{- end }}
    {{- with $bg.image_position }}
    {{/* Allow valid CSS positions including left, center, and right. */}}
    {{- $style = printf "%sbackground-position: %s;" $style . }}
    {{- end }}
    {{- end }}

    {{- with $section.design.spacing.padding }}
    {{- $style_padding := printf "padding: %s;" (delimit . " ") }}
    {{- $style = print $style $style_padding }}
    {{- end }}

    {{- $section_classes := $section.advanced.section_class | default "bg-white" }}
    {{- $container_classes := $section.advanced.container_class | default "max-w-screen-xl py-4 px-3 lg:px-12" }}
    {{- $extra_attributes := "" }}
    {{- $use_container := $section.design.container | default true }}

    <div id="{{ replace $section.type "_" "-" }}"
        class="section__{{ replace $section.type "_" "-" }}{{if $bg.text_color_light}} dark{{end}}{{if $bg.image}} bg-image{{if ($bg.image_parallax | default true) }} parallax{{end}}{{end}}{{with $section_classes}} {{.}}{{end}}"
        {{with $style}}style="{{. | safeCSS}}" {{end}} {{print $extra_attributes | safeHTMLAttr}}>
        {{- if $use_container }}
        <div class="container w-full mx-auto {{with $container_classes}}{{.}}{{end}}">{{end}}
            {{- $include_dict := dict "section" $section "Site" $.Site }}
            {{- $component := print "sections/" $section.type ".html" }}
            {{ partial $component $include_dict }}
            {{- if $use_container }}
        </div>{{ end }}
    </div>
    {{- end }}
    {{- else }}
    <div id="hero-section" class="section__hero-section bg-grey py-12 px-3 mb-6"
        style="background-color: gray;background-image: url('/images/banner.jpg');background-size: cover;background-position: center;">
        <div class="flex items-center justify-center text-center">
            <h1 class="section__title text-xl lg:text-3xl capitalize mb-0">Koleksi "{{ .Title }}"</h1>
        </div>
    </div>
    {{- end }}
    
    <div class="container w-full max-w-screen-xl mx-auto px-3 lg:px-12 py-4"> 
        <div class="list__card mb-6">
            <div class="bg-white pt-4 pb-8 mb-6">
                <div
                    class="grid {{ range $index, $li := first 1 .Data.Pages }}{{ if eq .Section "shop" }}grid-cols-10{{else}}grid-cols-12{{end}}{{end}} gap-3 lg:gap-6 mb-8">
                    {{- $paginator := .Paginate .Data.Pages }}
                    {{- range $paginator.Pages }}
                    {{- if eq .Section "shop" }}
                    {{ partial "shop_list_item" . }}
                    {{- else }}
                    {{ partial "blog_list_item" . }}
                    {{- end }}
                    {{- end }}
                </div>
                {{ partial "pagination" . }}
            </div>
        </div>
    </div>
</main>
{{- end -}}