{{- $site := .Site }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $class := .class }}

{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" $image ) }}

{{- $resizedxs := $imageResource.Resize "360x webp" }}
{{- $resizedsm := $imageResource.Resize "414x webp" }}
{{- $resizedmd := $imageResource.Resize "768x webp" }}
{{- $resizedlg := $imageResource.Resize "1024x webp" }}
{{- $resizedxl := $imageResource.Resize "1366x webp" }}
{{- $resized2xl := $imageResource.Resize "1536x webp" }}
{{- $resized3xl := $imageResource.Resize "1800x webp" }}

<picture>
  <source media="(min-width: 1536px)" srcset="{{ $resized2xl.RelPermalink }} 1x,
   {{- $resized3xl.RelPermalink }} 2x">
	
  <source media="(min-width: 1280px)" srcset="{{ $resizedxl.RelPermalink }} 1x,
    {{- $resized2xl.RelPermalink }} 2x,
    {{- $resized3xl.RelPermalink }} 3x">

  <source media="(min-width: 1024px)" srcset="{{ $resizedlg.RelPermalink }} 1x,
    {{- $resizedxl.RelPermalink }} 2x,
    {{- $resized2xl.RelPermalink }} 3x">

  <source media="(min-width: 768px)" srcset="{{ $resizedmd.RelPermalink }} 1x,
    {{- $resizedlg.RelPermalink }} 2x,
    {{- $resizedxl.RelPermalink }} 3x">
	
  <source media="(min-width: 414px)" srcset="{{ $resizedsm.RelPermalink }} 1x,
    {{- $resizedmd.RelPermalink }} 2x,
    {{- $resizedlg.RelPermalink }} 3x">

  <source media="(min-width: 360px)" srcset="{{ $resizedxs.RelPermalink }} 1x,
    {{- $resizedsm.RelPermalink }} 2x,
    {{- $resizedmd.RelPermalink }} 3x">

  <img class="{{ $class }}" alt="{{ $alt }}" src="{{ $resizedmd.RelPermalink }}" />
</picture>