<div id="hero-section" class="section__hero-section bg-image bg-body py-12 px-3 mb-8"
style="background-color: gray;background-image: url('/images/banner.jpg');background-size: cover;background-position: center;">
    <div class="flex items-center justify-center">
        <div class="section__body text-center">
        <h1 class="section__title text-xl lg:text-4xl capitalize">{{ .Title }}</h1>
        {{ partial "breadcrumb.html" . }}
        </div>
    </div>
</div>
<div class="container w-full {{ if .Site.Params.sidebar.has_widget }}max-w-screen-xl{{ else }}max-w-screen-lg{{ end }} mx-auto px-4 lg:px-12 py-4">
    <div class="blog grid grid-cols-12 lg:gap-8">
        <article class="post__article article col-span-12  {{ if .Site.Params.sidebar.has_widget }}lg:col-span-8 {{ end }}">
            {{- if .Params.thumbnail }}
            {{- $include_dict := dict "image" .Params.thumbnail "alt_text" .Title "Site" .Site "aspect" "aspect-w-3 aspect-h-2" "aspect_w" "3" "aspect_h" "2" "resized" "381x q100 webp" }}
            {{ partial "image.html" $include_dict }}
            {{- end }}
            <div class="post__meta flex flex-wrap items-center text-sm text-body-text pt-6 mb-6">
                {{- $dateFormat := default "Mon 02 January 2006" (index .Site.Params "dateFormat") }}
                {{- if not .PublishDate.IsZero }}
                {{ partial "svg/icon-calendar-alt.svg" (dict "class" "w-14px h-14px fill-current text-current") }}
                <time class="post__published text-sm text-body-text-secondary ml-1"
                    {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time>
                {{- end }}
                {{- if .Params.authors }}
                {{ partial "svg/icon-user.svg" (dict "class" "w-14px h-14px fill-current text-current ml-6") }}
                {{- range (.GetTerms "authors") }}
                <a class="post__author text-sm text-body-text-secondary hover:underline capitalize ml-1"
                    href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{- end }}
                {{- end }}
                {{- if .Params.tags }}
                {{ partial "svg/icon-tag.svg" (dict "class" "w-14px h-14px fill-current text-current ml-6") }}
                {{- range $index, $tag := (.GetTerms "tags") }}{{ if gt $index 0 }}, {{ end }}
                <a class="post__tag text-sm text-body-text-secondary hover:underline capitalize ml-1"
                    href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{- end }}
                {{- end }}
            </div>
            <div class="post__content text-body-text">
                {{ .Content }}
            </div>
            <footer class="post__footer">
                <div class="post__footer-meta grid grid-cols-12 mb-12">
                    <div class="post__footer-tags col-span-6">
                        <h3 class="text-body-text">Tags:</h3>
                        {{- if .Params.tags }}
                        <div class="flex items-center">
                            {{- range (.GetTerms "tags") }}
                            <a class="post__tag text-sm text-body-text-primary hover:text-body-text-secondary capitalize border border-solid border-gray-300 hover:bg-primary hover:border-primary transition ease-in-out duration-300 rounded-sm py-1 px-3 mr-2"
                                href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                            {{- end }}
                        </div>
                        {{- end }}
                    </div>
                    {{- if .Site.Params.share_button | default true }}
                    <div class="post__footer-share col-span-6">
                        <h3 class="text-body-text text-right pr-4">Bagikan:</h3>
                        {{ partial "social_share.html" . }}
                    </div>
                    {{- end }}
                </div>
                {{- if .Site.Params.post_author | default true }}
                {{- range (.GetTerms "authors") }}
                <div class="post__author grid grid-cols-12 gap-6 bg-body-primary rounded-md mb-8">
                    <div class="col-span-12 lg:col-span-3 py-4 px-4 lg:py-6 lg:px-6">
                        {{- if .Params.avatar }}
                        <div class="post__author-avatar w-1/2 lg:w-full mx-auto">
                            {{- $include_dict := dict "image" .Params.avatar "alt_text" .LinkTitle "Site" .Site "class" "rounded-full" "aspect" "aspect-w-1 aspect-h-1" "aspect_w" "1" "aspect_h" "1" "resized" "110x110 q100 webp" "is_fill" true }}
                            {{ partial "image.html" $include_dict }}
                        </div>
                        {{- end }}
                    </div>
                    <div class="col-span-12 lg:col-span-9 py-4 lg:py-6 px-3">
                        <a class="text-body-text hover:text-body-text-secondary font-heading capitalize" href="{{ .RelPermalink }}">
                            <h3>{{ .LinkTitle }}</h3>
                        </a>
                        {{- if .Params.social_links }}
                        <div class="footer__social-content flex items-center mb-3">
                            {{- range .Params.social_links}}
                            <a class="navbar__social-link text-body-text-primary hover:text-body-text-secondary hover:no-underline mr-3"
                                href="{{ .url | relURL }}" title="{{ .label }}" target="_blank" rel="noopener">
                                {{- with .icon }}
                                {{ partial (printf "svg/icon-%s.svg" . ) (dict "class" "w-4 h-4 text-current") }}
                                {{- end }}
                            </a>
                            {{- end }}
                        </div>
                        {{- end }}
                        {{- with .Params.bio }}
                        <div>
                            <p class="text-body-text-primary text-sm mb-0">{{ . | safeHTML }}</p>
                        </div>
                        {{- end }}
                    </div>
                </div>
                {{- end }}
                {{- end }}
                {{- if .Site.Params.post_navigation | default true }}
                <div class="grid grid-cols-12 gap-6 mb-12">
                    {{- with .PrevInSection }}
                    <div class="col-span-12 lg:col-span-6">
                        <a class="text-primary hover:text-secondary font-heading" href="{{ .RelPermalink }}">
                            <div class="grid grid-cols-12 gap-3 lg:gap-6">
                                {{- if .Params.thumbnail }}
                                <div class="post__thumb col-span-4">
                                    {{- $include_dict := dict "image" .Params.thumbnail "alt_text" .Title "Site" .Site "class" "rounded-md" "aspect" "aspect-w-1 aspect-h-1" "aspect_w" "1" "aspect_h" "1" "resized" "120x120 q100 webp" "is_fill" true }}
                                    {{ partial "image.html" $include_dict }}
                                </div>
                                {{- end }}
                                <div class="col-span-8">
                                    <h4 class="text-sm lg:text-base font-medium text-current">{{ .Title }}</h4>
                                    {{- $dateFormat := default "Mon 02 January 2006" (index .Site.Params "dateFormat") }}
                                    {{- if not .PublishDate.IsZero }}
                                    <time class="post__published text-xs lg:text-sm text-body-text-secondary ml-1"
                                        {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time>
                                    {{- end }}
                                    <div class="flex items-center text-body-text-secondary pt-3">
                                        {{ partial "svg/icon-angle-left.svg" (dict "class" "w-14px h-14px fill-current text-current") }}
                                        <p class="text-sm lg:text-base text-body-text-secondary pl-2 mb-0">Previous Post</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{- end }}
                    {{- with .NextInSection }}
                    <div class="col-span-12 lg:col-span-6">
                        <a class="text-primary hover:text-secondary font-heading" href="{{ .RelPermalink }}">
                            <div class="grid grid-cols-12 gap-3 lg:gap-6">
                                <div class="col-span-8 text-right">
                                    <h4 class="text-sm lg:text-base font-medium text-current">{{- .Title}}</h4>
                                    {{- $dateFormat := default "Mon 02 January 2006" (index .Site.Params "dateFormat") }}
                                    {{- if not .PublishDate.IsZero }}
                                    <time class="post__published text-xs lg:text-sm text-body-text-secondary ml-1"
                                        {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time>
                                    {{- end }}
                                    <div class="flex items-center justify-end text-body-text-secondary pt-3">
                                        <p class="text-sm lg:text-base text-body-text-secondary pr-2 mb-0">Next Post</p>
                                        {{ partial "svg/icon-angle-right.svg" (dict "class" "w-14px h-14px fill-current text-current") }}
                                    </div>
                                </div>
                                {{- if .Params.thumbnail }}
                                <div class="post__thumb col-span-4">
                                    {{- $include_dict := dict "image" .Params.thumbnail "alt_text" .Title "Site" .Site "class" "rounded-md" "aspect" "aspect-w-1 aspect-h-1" "aspect_w" "1" "aspect_h" "1" "resized" "120x120 q100 webp" "is_fill" true }}
                                    {{ partial "image.html" $include_dict }}
                                </div>
                                {{- end }}
                            </div>
                        </a>
                    </div>
                    {{- end }}
                </div>
                {{- end }}
                {{ partial "blog_related.html" . }}
            </footer>
        </article>
        {{- if .Site.Params.sidebar.has_widget }}
        <aside class="sidebar widget col-span-12 lg:col-span-4">
			 {{- range $widget := .Site.Params.sidebar.sections }}
			 {{- $include_dict := dict "widget" $widget "Site" $.Site }}
			 {{- $component := print "widgets/" $widget.type ".html" }}
			 {{ partial $component $include_dict }}
			 {{- end }}
        </aside>
        {{- end }}
    </div>
</div>