<div class="breadcrumb flex flex-wrap items-center text-sm text-body-text-primary {{ if eq .Section "blog" }}justify-center{{end}} mb-4">
    <a class="inline-flex items-center text-header-text-primary hover:text-primary" href="/">
        {{ partial "svg/icon-home.svg" (dict "class" "w-4 h-4 inline-block fill-current mr-2") }}
        <span>Home</span>
    </a>
    {{- if eq .Section "shop" }}
    {{ partial "svg/icon-chevron-right.svg" (dict "class" "w-3 h-3 fill-current text-current ml-1") }}
    <a class="breadcrumb__model text-header-text-primary hover:text-primary capitalize" href="/collections/">Collections</a>
    {{ partial "svg/icon-chevron-right.svg" (dict "class" "w-3 h-3 fill-current text-current ml-1") }}
    {{- if .Params.collections}}
    {{ range (.GetTerms "collections") }}
    <a class="breadcrumb__model text-header-text-primary hover:text-primary capitalize ml-1" href="{{ .RelPermalink }}">{{ .LinkTitle | humanize }}</a>
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if eq .Section "blog" }}
    {{ partial "svg/icon-chevron-right.svg" (dict "class" "w-3 h-3 fill-current text-current ml-1") }}
    {{- if .Params.tags}}
    {{ range $index, $tag := (.GetTerms "tags") }}{{ if gt $index 0 }}, {{ end }}
    <a class="breadcrumb__tag text-header-text-primary hover:text-primary capitalize ml-1" href="{{ .RelPermalink }}">{{ .LinkTitle | humanize }}</a>
    {{- end }}
    {{- end }}
    {{- end }}
    {{ partial "svg/icon-chevron-right.svg" (dict "class" "w-3 h-3 fill-current text-current ml-1") }}
    <span class="text-primary ml-1">{{ .Title }}</span>
</div>