{{ $section := .section }}
<section class="section collection-filter">
    <div class="container w-full max-w-screen-xl mx-auto px-3 lg:px-12">
        <div class="flex items-center mb-4">
            <div class="flex items-center text-gray-500">
                {{ partial "svg/icon-sort.svg" (dict "class" "w-4") }}
                <span class="text-sm text-gray-700 ml-2">Filter Product :</span>
            </div>
            <div class="product__nav text-gray-700 hover:text-accent relative leading-none border border-solid border-gray-300 rounded-sm hover:bg-gray-200 py-1px ml-3"
                x-data="{open:false}">
                <button
                    class="inline-block text-xs hover:text-teal-500 uppercase leading-none cursor-pointer focus:outline-none py-2 px-10 lg:px-20"
                    @click="open = true">{{  $section.label }}</button>
                <div class="product__color absolute w-full lg:w-200px top-8 left-0 z-50 shadow-md" x-show="open"
                    @click.away="open=false" x-transition:enter="transition ease-out duration-75"
                    x-transition:enter-start="opacity-0 transform scale-90"
                    x-transition:enter-end="opacity-100 transform scale-100"
                    x-transition:leave="transition ease-in duration-75"
                    x-transition:leave-start="opacity-100 transform scale-100"
                    x-transition:leave-end="opacity-0 transform scale-90">
                    <ul class="bg-white list-none pt-0 px-0 pb-4 m-0">
                        {{ if and  $section.title $section.url }}
                        <li class="text-gray-700 hover:text-primary hover:bg-gray-100 py-1 px-6 mb-0">
                            <a class="text-xs lg:text-sm text-current capitalize hover:text-current leading-none"
                                href="{{ $section.url }}">{{ $section.title }}</a>
                        </li>
                        {{ end }}
                        {{ $product := .Site.Taxonomies.product }}
                        {{ $collection := .Site.Taxonomies.collections }}
                        {{ $color := .Site.Taxonomies.color }}
                        {{ $filter := $product }}
                        {{ if eq $section.filter "collections"}}
                        {{ $filter := $collection }}
                        {{ template "filter_list" (dict "filterName" $filter)}}
                        {{ else if eq $section.filter "color"}}
                        {{ $filter := $color }}
                        {{ template "filter_list" (dict "filterName" $filter)}}
                        {{ else }}
                        {{ template "filter_list" (dict "filterName" $filter)}}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{ define "filter_list" }}
{{ range .filterName }}
<li class="text-gray-700 hover:text-primary hover:bg-gray-100 py-1 px-6 mb-0">
    <a class="text-xs lg:text-sm text-current hover:text-current leading-none"
        href="{{ .Page.RelPermalink }}">{{ .Page.Title | humanize }}</a>
</li>
{{ end }}
{{ end }}