<header class="shadow-md">
  <div class="nav">
      <div class="container w-full max-w-screen-xl relative mx-auto pt-4 lg:pt-0 lg:px-12">
          <div class="nav__wrapper grid grid-cols-12 items-center">
              <div class="col-span-2 flex items-center lg:hidden pl-3">
                  <button class="text-gray-600 hover:text-gray-700 cursor-pointer border-none focus:outline-none" :class="{ 'open': sideNav === true }" @click="sideNav = !sideNav">
                      <svg class="transition duration-300 ease-in-out transform" width="22" height="24">
                          <line class="stroke-current stroke-2 transition duration-300 ease-in-out transform" id="top" x1="0" x2="22" y1="6" y2="6"></line>
                          <line class="stroke-current stroke-2 transition duration-300 ease-in-out transform" id="middle" x1="0" x2="18" y1="12" y2="12"></line>
                          <line class="stroke-current stroke-2 transition duration-300 ease-in-out transform" id="bottom" x1="0" x2="22" y1="18" y2="18"></line>
                      </svg>
                  </button>
              </div>
              <div class="logo col-span-4 lg:col-span-2 col-start-5 lg:col-start-1 lg:pr-8">
                <a class="sr-only" href="#content">Skip to main content</a>

                {{ if .Site.Params.header.logo }}
                <a class="navbar__logo" href="{{ "/" | relURL }}"><img src="{{ $.Site.Params.header.logo | relURL }}" alt="{{ $.Site.Params.header.title }}" /></a>
                {{ else }}
                <a class="h4 navbar__title" href='{{ "/" | relURL }}'>{{ $.Site.Params.header.title }}</a>
                {{ end }}
              </div>
              {{ if .Site.Params.header.has_nav }}
              <nav class="nav__menu hidden lg:block col-span-8">
                <ul class="nav__menu-item menu lg:flex justify-content-end list-none pl-0 mb-0">
                  {{ range $action := $.Site.Params.header.nav_links }}
                    {{ $pageUrl := trim $.RelPermalink "/" }}
                    {{ $actionUrl := trim $action.url "/" }}
                    <li class="navbar__item text-gray-700 hover:text-primary border-b border-solid border-gray-300 lg:border-0 py-3 px-3 mb-0 {{ if ne $action.style "link" }} navbar__item--btn{{ end }}{{ if eq $pageUrl $actionUrl }} is-active{{ end }}">
                      {{ $include_dict := dict "action" $action }}
                      {{ partial "action.html" $include_dict }}
                    </li>
                  {{ end }}
                </ul>
              </nav>
              {{ end }}
              <div class="col-span-4 lg:col-span-2 grid grid-cols-2 lg:grid-cols-4">
                  <div class="col-span-1 lg:col-span-3">
                    {{ partial "nav_search" . }}
                  </div>
                  <div class="col-span-1 flex items-center">
                    {{ partial "nav_cart" . }}
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
