{{- $site := .Site }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $class := .class }}
{{- $aspect := .aspect | default "aspect-w-3 aspect-h-2" }}
{{- $aspect_w := .aspect_w | default "3" }}
{{- $aspect_h := .aspect_h | default "2" }}
{{- $is_fill := .is_fill }}
{{- $resized_img := .resized | default "381x q100" }}
<div class="relative {{ $aspect }}">
    {{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}
    {{- if $is_fill }}
    {{- $resized := $imageResource.Fill $resized_img }}
    <img class="absolute w-full h-full left-0 top-0 object-cover {{ $class }}" src="{{ $resized.RelPermalink }}" alt="{{ $alt }}" />
    {{- else }}
    {{- $resized := $imageResource.Resize $resized_img }}
    <img class="absolute w-full h-full left-0 top-0 object-cover {{ $class }}" src="{{ $resized.RelPermalink }}" alt="{{ $alt }}" />
    {{- end }}
</div>