{{- $site := .Site }}
{{- $recent := where .Site.RegularPages "Type" "in" "blog" }}
{{- $recent_num := (.Site.Params.sidebar.recent_num | default 10) }}
{{- if $recent }}
<section class="widget__category lg:pl-3">
    <header class=" mb-6">
        <h3 class="capitalize font-body  mb-0">Artikel Terbaru</h3>
    </header>
	<ul class="list-none pl-0">
		{{- range first $recent_num $recent }}
		<li class="mb-3">
			<a href="{{ .RelPermalink }}">
				<div class="grid grid-cols-12 gap-4">
					{{- if .Params.thumbnail }}
					<div class="widget__recent-media col-span-3">
						{{- $include_dict := dict "image" .Params.thumbnail "alt_text" .Title "Site" .Site "class" "rounded-md" "aspect" "aspect-w-1 aspect-h-1" "aspect_w" "1" "aspect_h" "1" "resized" "110x110 q100" "is_fill" true }}
						{{ partial "image.html" $include_dict }}
					</div>
					{{- end }}
					<div class="widget__recent-body col-span-9">
						<h4 class="mb-0">{{ .Title }}</h4>
						<div class="widget__recent-meta mb-2">
							<time class="text-sm text-gray-500">{{ with .Params.dateFormat }}{{ .Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
						</div>
					</div>
				</div>
			</a>
		</li>
		{{- end }}
	</ul>
</section>
{{- end }}