/* Site Global
/* ---------------------------------------------------------- */

.content-stretch {
    align-content: stretch;
}

.self-baseline {
    align-self: baseline;
}

.border-groove {
    border-style: groove;
}

.post-card__img.lazyloaded {
    opacity: 1;
}

.post-card__img.lazyloaded:hover {
    opacity: 0.84;
}

.shop-tag:before,
.border-tag:before {
    position: absolute;
    top: 0;
    right: -7px;
    display: inline-block;
    content: "";
    border-top: 12px solid #ff9800;
    border-bottom: 12px solid #ff9800;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.shop__variant-button:before {
    border-left-color: transparent;
}

.shop__slider-item {
	width: 100%;
	margin-right: -100%;
	opacity: 0;
	transform: translate(-100%);
	transition: 200ms ease-in-out;

	img {
		display: block;
		width: 100%;
	}
}
.shop__slider-item.selected {
	transform: translateX(0);
	opacity: 1;
}
.shop__slider-item.selected~.shop__slider-item {
	transform: translateX(100%);
}
.shop .gallery-wrapper {
	@apply hidden;
}
.arrow--left {
	top: calc(50% - 1.2rem);
}
.arrow--right {
	top: calc(50% - 1.2rem);
}
.shop__slide-btn {
	img {
		filter: grayscale(100%);
	}

	&:hover img {
		filter: grayscale(0%);
	}
}
.shop__slide-btn.selected img {
	filter: grayscale(0%);
	transform: scale(1.10);
}
.blur-up {
    filter: blur(5px);
    transition: filter 1s;
}
/* section styles */
/* purgecss start ignore */
.blur-up.lazyloaded {
    filter: blur(0);
}

.splide__arrow svg {
	@apply w-4 h-4 fill-current;
}

.splide__pagination__page.is-active {
	@apply transform scale-150 rounded-full;
}

.splide__slide.is-active .bounce-left-3 {
	@apply animate-leftright-3;
}

.splide__slide.is-active .bounce-left-4 {
	@apply animate-leftright-4;
}

.splide__slide.is-active .bounce-left-5 {
	@apply animate-leftright-5;
}
/* purgecss end ignore */
figcaption h4 {
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    transition: background .17s ease;
}
.feature__icon svg {
    @apply block w-full fill-current;
}

.banner__header:after {
    transition: all 0.3s ease-out;
}

.banner__box:hover .banner__header:after {
    @apply w-full;
}

/* checkout page */
.selected-courier:before {
	@apply text-center text-white bg-primary;
	
    content: "✓";
  }