/* Site Header
/* ---------------------------------------------------------- */
.open svg {
	transform: scale(0.85)
}
.open #top {
	transform: translate(6px, 0px) rotate(45deg)
}

.open #middle {
	opacity: 0;
}

.open #bottom {
	transform: translate(-11px, 7px) rotate(-45deg)
}
@screen lg {
    .submenu {
        top: 100%;
        transform: translateY(-2em);
        transform-origin: top;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        width: 230px;
    }

    .has-submenu:active>.submenu,
    .has-submenu:focus>.submenu,
    .has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        z-index: 11;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
    }

    .has-submenu:active a svg,
    .has-submenu:focus a svg,
    .has-submenu:hover> a svg {
        @apply transform rotate-180;
    }
}



/*==============================================*/

